esphome:
  name: "${device_name}"

esp8266:
  board: d1_mini

wifi:
  ssid: !secret wifi_iot_ssid
  password: !secret wifi_password
  domain: ".lan"
  min_auth_mode: WPA2
    
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${device_name}"
    password: !secret wifi_password

substitutions:
  device_name: "d1mini-motion-seb"
  friendly_name: "Seb D1"
  
captive_portal:

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  - platform: esphome

one_wire:
  - pin: D3
    platform: gpio
  
sensor:
  - platform: dallas_temp
    address: 0x760119500218FF28
    update_interval: 600s
    name: "${friendly_name} Temperature"
    filters:
      - calibrate_linear:
          # Map 0.0 (from sensor) to 0.0 (true value)
          - 23.5 -> 18.0
          - 26.1 -> 19.9
          - 24.2 -> 18.7
          - 26.3 -> 20.7
    accuracy_decimals: 1
          
binary_sensor:
  - platform: gpio
    pin: D1
    name: "${friendly_name} Motion"
    device_class: motion
  - platform: status
    name: "${friendly_name} Status"

text_sensor:
  - platform: version
    hide_timestamp: true
    name: "${friendly_name} ESPHome Version"
    entity_category: diagnostic
  - platform: wifi_info
    ip_address:
      name: "${friendly_name} IP Address"
      icon: mdi:wifi
      entity_category: diagnostic
    ssid:
      name: "${friendly_name} Connected SSID"
      icon: mdi:wifi-strength-2
      entity_category: diagnostic
