esphome:
  name: light_d1mini_star

esp8266:
  board: d1_mini
  
wifi:
  ssid: !secret wifi_iot_ssid
  password: !secret wifi_password
  domain: ".lan"
  min_auth_mode: WPA2

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Light D1Mini Star"
    password: !secret portal_password

captive_portal:

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  - platform: esphome

    
light:
  - platform: monochromatic
    name: "Christmas Star"
    id: star
    output: output_component1
    restore_mode: RESTORE_DEFAULT_OFF
    effects:
      - strobe:
          name: Blink
      - flicker:
          intensity: 15%
      - lambda:
          name: Breathe
          update_interval: 3.5s
          lambda: |-
            static bool state = false;
            auto call = id(star).turn_on();
            if (state) {
              call.set_brightness(0.5);
            } else {
              call.set_brightness(1.0);
            }
            call.set_transition_length(3000);
            call.perform();

            state = !state;
# Example output entry
output:
  - platform: esp8266_pwm
    id: output_component1
    pin: D8 
    inverted: yes